body
{display: block; margin: 20px;}

.static {overflow: hidden;}

h1{font:white; position: absolute; top:260px; left:325px; font-size:30px;font-family: 'Gloria Hallelujah', cursive;}
a {font-family: 'Gloria Hallelujah', cursive;}

.start {position: absolute; top:270px; left:230px; width: 300px;}

.pInfo {color: white; font-size: 30px; z-index: 50; position:fixed; top:40px; left: 40px;}

#wrapper{
margin: 0 auto;
height: 600px;
width: 800px;
overflow:hidden;
position: fixed;
top: 30px;
left: 30px;
outline: 100px pink solid;
border: 2px #451948 solid;
pointer-events: none;
z-index: 34;
}

.longBG{}

.foreground{
    pointer-events: none;
    overflow:hidden;
	height: 700px;
	position:absolute;
	z-index: 33;
	white-space: nowrap;}

.landscape
{
    overflow:hidden;
	height: 700px;
	position:absolute;
	z-index: -2;
	white-space: nowrap;
	}



.echo {
	height: 120px; 
	position:absolute; 
    z-index: 1;
    left:3300px;
	top:200px;

}
.echo:hover{height: 160px;}

.overworld{
    position: absolute;
}

#overlay{
    position:absolute;
    margin-left: 50px;
    display: block;
    bottom: 3px;
    z-index: 100;
    }

.activeBox {

visibility: visible; pointer-events: all;
width: 200px; height:auto;
border-radius: 10px;
position: absolute;
top: 300;
opacity: 0;
z-index: 100;
color: dimgray;
background-color: whitesmoke;
padding: 10px;
box-shadow: 3px 3px 14px rgba(24, 5, 98, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); 	
}
	.H{border-bottom: 30px #EC92CD solid;margin-left: 460px;}
	.A{border-bottom:30px #72a8ff solid; margin-left: 30px; }

.inactiveBox { visibility: hidden; pointer-events: none; width: 1px; height: 1px; overflow: hidden;}

.textbox {}


.kana{height: 300px; position: relative; z-index: 33; margin-top: 240px; opacity: .2}
    .kana:hover{cursor: pointer;}

.activeGhost
	{position:fixed; z-index: 32; left: 180px; top: -60px; height: 300px; opacity: .8;}

.kanaP1{ margin-left: 500px;}
.kanaP2{ margin-left: 2300px;}
.kanaP3{ margin-left: 200px;}

#kaguya{
    pointer-events: none;
    height:300px;
	left: 320px;
    top: 250px;
	position: fixed;
    z-index: 32;}



.elementOff {z-index: -4,   -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;}


.dia { color: #30353d; font-size: 14px; margin: 20px; }


