@charset "UTF-8";

/* CSS Document */

p {font-family: 'Open Sans', sans-serif; font-size: 14px;  color: #2b2521;}

a {font-family: 'Open Sans', sans-serif; font-size: 14px; color: #2b2521;text-decoration: underline;}
    a:hover{color:red; }

h1{font-family: 'Open Sans', sans-serif;  color: #2b2521;}

h2{font-family: 'Open Sans', sans-serif;  color: #2b2521;}

h3{font-family: 'Open Sans', sans-serif; color: #2b2521;}

h4{font-family: 'Open Sans', sans-serif; color: #2b2521; font-size: 14px; margin:  0 auto; padding: 0px 50px 40px; text-align: center;}

.pageInfo{margin: 0 auto; text-align: center; margin: 0 0 30px; max-width: 800px;}

.credts{margin: -20 auto 30; text-align: center; display: block; margin-top: -30px;}
	.credits p {text-align: center;}


.wrapper{margin: 0 auto; padding: 90px 0; width: 90%;}

.container {margin: 0 auto; text-align: center; width: 100%; margin-top: 20px;}

.bold{font-family: 'Open Sans'; font-weight: 800;}

.activeNavPage{color: red;}

nav {border-bottom: 7px red solid; }

#mobNav{ float: right; height: 1px; overflow: hidden; width: 1px; visibility: hidden;}

#artDirector{float:left; display:inline-block; margin: auto 50px; font-size: 24px; height: 200px;}
    #artDirector p {font-size: 30px; margin-top: -10px; text-align: left;}

#contactLinks {float:right; margin: auto 30px; height: 200px;}
    #contactLinks a{display: block;text-decoration: none;}
	#socialMedia{margin-top: -20px;}
	#socialMedia a{display: inline-block;}
	#socialMedia a img{height: 25px; margin: 0 5px;}

#navLinks { margin: 50px auto; text-align: center;}
    #navLinks a{margin:  20px 30px; display: inline-block; text-decoration: none;}
    #navLinks a:active{text-decoration: underline;}

#subnavLinks{visibility: collapse;}


.homeContactLinks {display: none; height: 1px; width: 1px;}

.currentPage {margin: 0 auto; width: 80%;}

.active, .navLinks a{text-decoration: underline;}

#mobnav{visibility:collapse; float: right; display: inline-block; width: 1px; height: 1px; overflow: hidden;}
.mobNavLine{ visibility: hidden; background-color: red; border-radius: 5px; height: 10px; width: 40px; margin:5px;}

.backBtn{visibility: hidden; height: 1px; width: 1px; overflow: hidden; display: inline-block;}


.gameButton {background-color: red; font-size: 16px; padding: 10px; font-weight: 400; color: white;}
	.gameButton:hover {background-color: white; border: 1px red solid; color: red;}

.illus{text-align: center;
    height: 300px;
	padding: 30px;
    display: inline-block;}
.illus img {height:inherit; width: inherit;}

.midImg, .lrgImg, .fullImg {margin: 0; padding: 10px; display: inline-block; vertical-align: top; overflow: hidden;}
    .midImg img, .lrgImg img, .fullImg img {width: 100%; height: 100%; }
	.midImg p, .lrgImg p, .fullImg p {margin-bottom: 15px;} 

.smallImg{width: 30px; height: auto;}

.midImg{width: 28%; height: auto; min-width: 300px;}

.lrgImg{width: 45%; height: auto; max-width: 900px;}

.fullImg {width: 100%; height: auto; max-width: 900px;}

.threeRowContent{
	vertical-align: top;
    text-align: center;
	width: 300px;
	padding: 10px 18px 60px;
    display: inline-block;
	text-decoration: none;
}
    .threeRowContent img{width: inherit; height: inherit;}

.award {width: 30px; height:30px; margin-top: -15; display: none; overflow: visible; margin: 0 auto;}
.award img{width: 100%; height: 100%;}

.projName{font-weight: 400;}
	.projName:hover{color: red;}
.projDescription{}

iframe { position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;}

.iframeContainer {
 width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

@media screen and (max-width: 880px){
    #navLinks{display:block; margin: 20px auto; clear: both;}
    #artDirector, #contactLinks{margin:  30px 20px; height: 70px; }
    
    .midImg{height: 300px;}
	
	#socialMedia{margin-top: 0px;}
}


@media screen and (max-width: 500px){
    
  .midImg{height: auto; width:90%; padding-top:  30px;; margin: 0;}

.illus{height: auto; width:90%; padding-top:  30px;; margin: 0;}

 nav{position: fixed;  width:100%; background-color: white; display: block;}
    

#mobNav{visibility: visible; float: right; display: inline-block; width: 50px; height: 50px; margin: 10px 10px 30px;}
.mobNavLine{ visibility: visible;}
    
	.midImg, .lrgImg, .fullImg {width: 100%;}
    
    #navLinks{float: right;  height: 70px;overflow: hidden; margin: 0 auto; padding: 0; clear: none; display: inline-block; z-index: 10; }
       
	
	#navLinks a {display: block; clear: both; padding: 30px 30px; margin: 0; }
		.currentPage {color: white; background-color: red;}
    #navLinks:hover{height: 500px; width: 200px; }
    

    #artDirector{display: inline-block; margin: 0 0 ; padding: 10px; height: 50px; width: auto; font-size: 14px;}
    #artDirector .bold {font-size: 17px; margin-top: -5px;}
    
    #contactLinks {visibility:collapse; width: 1px; height: 1px; overflow: hidden; padding: 0; margin:
    -2000px;}
	
	.homeContactLinks {visibility: visible; width 100%; height:auto; margin: 0 auto; border-top: 5px red solid;}

    .wrapper{padding-top: 100px;}
    
    
    
}



